
{{define "title"}}
About Me
{{end}}
{{define "body"}}
<div class="flex flex-auto">
    <div class="hero max-h-screen">
        <div class="hero-content text-center">
            <div class="max-w-md">
                <h1 class="text-5xl font-bold">Ben Aldrich</h1>
                <p class="py-6">Senior Director of Engineering with a
                    specializing in big data and clustering software.
                    With over 15 years of experience building high performance
                    software.
                </p>
            </div>
        </div>
    </div>
</div>
{{end}}