
{{define "title"}}
About Me
{{end}}
{{define "body"}}
<div class="flex flex-auto">
    <div class="hero max-h-screen">
        <div class="hero-content text-center">
            <div class="max-w-md">
                <h1 class="text-5xl font-bold">Ben Aldrich</h1>
                <p class="py-6">Senior Director of Engineering with a focus on building highly scalable and performant teams and products.
                </p>
                <div class="flex flex-row justify-center">
                    <div class="px-2">
                        <a href="https://github.com/vrecan"><img
                                src="/icons/github.svg" / class="h-8"></a>
                    </div>
                    <div class="px-2">
                        <a href="https://www.linkedin.com/in/ben-aldrich-2638b914"><img
                                src="/icons/linkedin.svg" / class="h-8 "></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}