
{{define "title"}}
About Me
{{end}}
{{define "body"}}
<div class="flex mb-4">
    <div class="w-full">
        <p>
            I'm Ben Aldrich, I am a principle software engineer at Logrhythm
            specializing in big data and clustering software.
        </p>
        <p>
            With over 15 years of experience building high performance software.
            Programming Languages Go, C, C++, Java and Python.
        </p>
    </div>
</div>

-- testing
<div class="flex mb-4">
    <div class="w-full bg-gray-500 h-12">
    <button hx-post="/clicked" hx-swap="outerHTML">
      Click Me
    </button>
    </div>
  </div>
{{end}}