{{define "base.html"}}
<!DOCTYPE html>
<html data-theme="vreco">
  <head>
    <title>
      {{template "title" .}}
    </title>

    {{if .blog.Meta.Description}}
    <meta name="description" content="{{.blog.Meta.Description}}">
    {{end}}
    <meta name=”robots” content="index, follow">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mystyles.css">
    <link rel="stylesheet"href="/css/highlight_theme_vreco.css"> 
    <script src="/js/highlight.js"></script>
    <script src="/js/htmx1.7.js"></script>
       <script>
      hljs.highlightAll();   
      </script>
      
  </head>


</html>
<body>
  <nav class="navbar bg-base-100">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
      <a href="/">
        <img class="object-scale h-18 w-32" src="/logo.svg" />
      </a>
      <div class="w-full block flex-grow flex items-center w-auto p-2">
        <div class="text-sm lg:flex-grow">
          <a href="/blog" class="btn btn-ghost normal-case text-lg">
            Blog
          </a>
        </div>
        <div class="block mt-4 inline-block
          mt-0 text-grey-800 p-2">|</div>
        <div class="text-sm flex-grow">
          <a href="/about" class="btn btn-ghost normal-case text-lg">About Me
          </a>
        </div>
      </nav>
      {{template "body" . }}
    </body>
    {{end}}